{% extends 'base.html' %} {% block dashboard %}

<div class="container">
    <br>
    <div class="row">


        <div class="col-md-8" method="POST">
            <form action="/create_short_url/" method="POST">
                {% csrf_token %}
                <h2>Create new Short Link</h2>
                <input type="text" name="title" placeholder="Title" class="form-control">
                <br>
                <input type="text" class="form-control" placeholder="Paste the url you want to shorten" name="long_url">
                <br>
                <button type="submit" class="btn btn-success btn-lg" style="color: white; width: 180px;">Shorten</button>
            </form>
        </div>
        <div class="col-md-8">
            <h2>Your ShortLinks</h2>
          
            {% for url in url_instances %}
                <div class="card" style="width: 67rem; background-color: white;color: black;">
                    <div class="card-body">
                        <div style="display: flex; justify-content:space-between;">
                            <div>
                                <label >LINK TITLE:<br></label>
                                <br>
                                <p>{{url.title}}</p>
                                
                                <br>
                            </div>

                            <div>
                                <p class="card-text">LINK:<br></p>
                                <a href="{{url.long_url}}" target="_blank"  style="padding-bottom: 5px;padding-right:38px ; margin:3px; font-size: 20px;">{{url.long_url|truncatechars:60}}</a>
                            </div>
                            <div>
                           
                         <label>SHORT LINK:</label><br>
                         <a href="http://127.0.0.1:8000/{{url.short_hash}}" target="_blank" style="padding-bottom: 5px;padding-right:38px ; margin:3px; font-size: 20px;">http://127.0.0.1:8000/{{url.short_hash}}</a>
                            </div>
                        <div>
                        <label style="margin-top:2px">CLICK COUNT:</label><br>
                        <p>{{url.no_clicks}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
            <!-- <table>
                
                <tr>
                    <td style="padding-right:38px ;">LINK TITLE:</td>

                    <td style="padding-right:38px ;">LINK:</td>
                    <td style="padding-right:38px ;">SHORT LINK:</td>
                    <td>CLICK COUNT:</td>
                </tr>
                
                <tr style="padding-bottom: 5px;">
                    <td style="padding: 8px ;margin:10px; font-size: 20px;" >{{url.title}}</td>
                    
                    <td style="padding-bottom: 5px;padding-right:38px ; margin:10px; font-size: 20px;"><a href="{{url.long_url}}" target="_blank">{{url.long_url}}</a></td>
                    
                    <td style="padding-bottom: 5px;padding-right:38px ;font-size: 20px; margin:10px"><a href="http://127.0.0.1:8000/{{url.short_hash}}" target="_blank">http://127.0.0.1:8000/{{url.short_hash}}</a></td>
                    
                    <td style="padding-bottom: 5px; padding-right:38px ;font-size: 20px;float: right;">{{url.no_clicks}}</td>
                </tr>
                
            </table> -->
            
        </div>

    </div>

</div>

{% endblock %}